.anim {
    position: absolute;
    will-change: transform;
    animation: marquee 15s linear infinite ;
}

.anim:hover {
    animation-play-state: paused;
}

.hideScrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
}